input{
    font-size: 18px;
}

body{
    background-color: burlywood;
    color: darkblue;
    text-align: center;
}
#title{
    text-align: center;
}
#gameboard{
    width: 38.2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gameboard button, button:focus, button:hover{
    padding: 10px;
    margin: 5px 0.5%;
    width: 15%;
    height: 4em;
    display: inline-block;
    outline: none;
    border:none;
    box-shadow: none;

}
  
#myBar {
width: 1%;
height: 30px;
background-color: green;
}

.color {
    background: green none;
}

.blank {
    background: Gainsboro none;
}

table{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.score{
    position: fixed;
    top: 45px;
    left: 15px;
}

.round{
    position: fixed;
    top: 15px;
    left: 15px;
}